<mat-toolbar color="primary"><h1>👑 CORONA SIMULATOR 9000 👑</h1></mat-toolbar>

<app-settings></app-settings>

<mat-toolbar>
  <button mat-mini-fab color="primary" (click)="restartSimulation()"
          matTooltip="Restart simulation.">
    <mat-icon>refresh</mat-icon>
  </button>
  <button mat-mini-fab color="primary" (click)="togglePause()" matTooltip="Play/pause the simulation.">
    <mat-icon>{{paused ? "play_arrow" : "pause"}}</mat-icon>
  </button>
  <button mat-mini-fab [color]="fastForward ? 'accent' : 'primary'" (click)="toggleFastForward()"
          matTooltip="Fast forward the simulation. Depending on the size of the population, this might be a bit stressful for your device ;)">
    <mat-icon>fast_forward</mat-icon>
  </button>

  <mat-button-toggle-group [(ngModel)]="addHealthyOnClick"
                           matTooltip="Tap on the map to add persons. (You can use right click too!)">
    <mat-button-toggle [value]="true">🙂</mat-button-toggle>
    <mat-button-toggle [value]="false">🤒</mat-button-toggle>
  </mat-button-toggle-group>

</mat-toolbar>

<canvas #canvas (mousedown)="onMouseDown($event)" (contextmenu)="false">
  Looks like your browser does not support this cool simulation :( Sorry about that. Please use a modern browser.
</canvas>

<app-chart></app-chart>

<footer>
  <a href="https://patricsteiner.github.io/">about</a>
  |
  <a href="https://github.com/patricsteiner/corona-simulator">contribute</a>
</footer>
