<mat-toolbar color="primary"><h1>👑 CORONA 🦠 SIMULATOR 9000</h1></mat-toolbar>

<mat-card>
  <mat-card-content>
    <app-settings></app-settings>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="resetSimulation()">Start new Simulation</button>
    <button mat-raised-button color="primary" (click)="togglePause()">{{paused? "play" : "pause"}}</button>
  </mat-card-actions>

</mat-card>

<canvas #canvas (mousedown)="onMouseDown($event)" (contextmenu)="false">
  Looks like your browser does not support this cool simulation :( Sorry about that. Please use a modern browser.
</canvas>

<app-chart></app-chart>

