<mat-toolbar color="primary">👑<h1>CORONA SIMULATOR 9000</h1>👑</mat-toolbar>

<app-settings></app-settings>

<mat-toolbar>
  <button mat-mini-fab color="primary" (click)="togglePause()">
    <mat-icon>{{paused ? "play_arrow" : "pause"}}</mat-icon>
  </button>
  <button mat-stroked-button color="warn" (click)="resetSimulation()">Reset</button>
</mat-toolbar>

<canvas #canvas (mousedown)="onMouseDown($event)" (contextmenu)="false">
  Looks like your browser does not support this cool simulation :( Sorry about that. Please use a modern browser.
</canvas>

<app-chart></app-chart>

